<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Login page</title>
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
        <meta charset="utf-8" />
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300'>

        <!--&lt;!&ndash;[if lt IE 9]>-->
        <!--<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>-->
        <!--<![endif]&ndash;&gt;-->

    </head>

    <body>
    <div>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
    </div>

    <div id="wrapper">
    <div id="Login" align="center">

        <h1 style="color:blue;"><strong> Sign-in</strong> </h1>
            <form th:action="@{/signin}" method="post" style="float:center;">
                <fieldset>
                <p><input type="text" required placeholder="Username" name="username"/> </p>
                <p><input type="password" required placeholder="Password" name="password"/></p>
                <p><input type="submit" value="Login"/></p>
                </fieldset>
            </form>

        <p><span class="btn-round">or</span></p>
        <p>
            <a class="facebook-before"><span class="fontawesome-facebook"></span></a>
            <button class="facebook">Login Using Facbook</button>
        </p>
        <p>
            <a class="twitter-before"><span class="fontawesome-twitter"></span></a>
            <button class="twitter">Login Using Twitter</button>
        </p>
    </div>
    </div>
    </body>
</html>

